
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #f9f6f6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin-top: 40px;
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.add-task {
  display: flex;
  align-items: center;
  gap: 10px;
}
.add-task i {
  font-size: 20px;
  cursor: pointer;
  color: #0e82fe;
}
.filters {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}
.filter-btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
  cursor: pointer;
}
.filter-btn.active {
  background: #0e82fe;
  color: white;
  border-color: #0e82fe;
}
.task-item {
  background-color: #f9f9f9;
  padding: 12px 15px;
  border-left: 5px solid #0e82fe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  word-break: break-word;
  transition: 0.2s ease;
  position: relative;
}
.task-item.completed {
  text-decoration: line-through;
  color: #777;
  border-left-color: rgb(2, 160, 2);
}
.task-item:hover {
  background: #f1f1f1;
}
.task-item .actions button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.task-item .actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}
.task-item .log {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.task-item.deleted {
  background-color: #fedddd;
  color: #a00;
  border-left-color: #a00;
}
.deleted-header {
  color: #a00;
}

.log.completed::before {
  content: "✔ ";
  color: green;
}
.log.updated::before {
  content: "📝 ";
  color: orange;
}
.log.created::before {
  content: "📅 ";
  color: gray;
}
.toggle-detail-btn {
  font-size: 10px;
  margin-top: 5px;
  font-size: 14px;
  padding: 3px 6px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}
.toggle-detail-btn:hover {
  background-color: #d0d0d0;
}


